Source: testmmio
Section: unknown
Priority: optional
Maintainer: user <a.doroshev@securitycode.ru>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
Standards-Version: 4.7.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/testmmio
#Vcs-Git: https://salsa.debian.org/debian/testmmio.git

Package: testmmio
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
